.headerHome {
	height: 15%;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-shrink: 0;
}

.saldoEmConta {
	margin-left: 10.5em;
	align-self: center;
}

.headerHome div:last-child {
	width: 30%;
	display: flex;
}
