.linkNav {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 100%;
	padding: 1em 3em;
}

.linkNav img {
	margin-left: 2em;
}

.linkNav span {
	padding-left: 1em;
}

.linkNav:hover {
	background-color: #374952;
	cursor: pointer;
}

.linkNav:active {
	background-color: #6c8fa0;
	cursor: pointer;
}

.botaoRedirect {
	align-self: center;
}
