.linkNav {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 1em 3em;
}

.linkNav:hover {
	background-color: #374952;
	cursor: pointer;
}

.linkNav:active {
	background-color: #6C8FA0;
	cursor: pointer;
}

.linkNav a {
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 12px;
	padding-left: 1.3em;
}
