.paginaCobrancas {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
}

.conteudoCobrancas {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	
}

.cobrancas {
	display: flex;
	flex-direction: column;
	margin-top: 2em;

}

.buscaCobrancas {
	display: flex;
	margin-right: 10em;
	justify-content: flex-end;
}

.buscaCobrancas form {
	display: flex;
	width: 25%;
	justify-content: flex-end;
}

.conteudoListaDeCobrancas {
	margin-right: 10em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
}

.headerListaDeCobrancas {
	background: #9dbbc3;
	border-radius: 8px;
	color: #ffffff;
	font-size: 14px;
	width: 90%;
	margin: 4em 0 0 0;
}

.headerListaDeCobrancas tr {
	width: 100%;
	justify-content: space-between;
	display: flex;
}

.headerListaDeCobrancas table {
	display: flex;
	padding: 0.3em 4em;
}

.headerListaDeCobrancas th:nth-child(2) {
	padding-left: 3em;
}

.headerListaDeCobrancas th:nth-child(5) {
	margin-right: -3em;
}

.cobrancasListaDeCobrancas {
	width: 90%;
}

.cobrancasListaDeCobrancas table {
	width: 100%;
	border-spacing: 0 1em;
}

.paginacao {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}

.paginacao div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 10em;
	width: 20%;
}
